@{
    ViewBag.Title = "Reporte Saldo de Cuentas de Clientes";
}

<h2>Reporte Saldo de Cuentas de Clientes</h2>
<p>Aca es lo mismo que cuentas por cobrar. No tenemos datos de las facturas por cobrar porque no se cargan. Solo tenemos los cobros.</p>


