
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-inverse {
    background-color: rgba(0,0,0,1);
    border: none;
    font-size: 16px;
}

.navbar-header > a > img {
    margin: 0.3em;
    height: 3em;
}

.navbar-inverse .navbar-nav > li > a {
    padding-top: 1.3em;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    padding-top: 1.3em;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    font-weight: bold;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    font-weight: bold;
}

.col-sm-4 > .form-group > h2 {
    margin-bottom: -20px;
}

@media (max-width: 768px) {
    .navbar-inverse .navbar-nav > li > a {
        margin-left: 0px;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*PAGINATION*/
.paginate {
    display: block;
    width: 100%;
    font-size: 1em;
}

    .paginate.pag1 li {
        text-decoration: none;
        font-weight: bold;
    }

        .paginate.pag1 li a:hover {
            background: #eee;
            color: #555;
        }

        .paginate.pag1 li a:active {
            -webkit-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
            -moz-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
            box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
        }

        .paginate.pag1 li.single, .paginate.pag1 li.current {
            display: block;
            float: left;
            border: solid 1px #c0c0c0;
            padding: 5px 7px;
            margin-right: 6px;
            border-radius: 3px;
        }

/*Table Responsive Firefox*/
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

/*SUB MENU*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #ffffff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

/*TAMAÑO PANTALLA*/
@media (min-width: 1366px) {
    .container {
        width: 1300px;
    }
}

@media (min-width: 1920px) {
    .container {
        width: 1800px;
    }
}

@media (min-width: 1366px), (min-width: 1920px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 1366px), (min-width: 1920px) {
    .visible-lg {
        display: block !important;
    }

    table.visible-lg {
        display: table !important;
    }

    tr.visible-lg {
        display: table-row !important;
    }

    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}

@media (min-width: 1366px), (min-width: 1920px) {
    .visible-lg-block {
        display: block !important;
    }
}

@media (min-width: 1366px), (min-width: 1920px) {
    .visible-lg-inline {
        display: inline !important;
    }
}

@media (min-width: 1366px), (min-width: 1920px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 1366px), (min-width: 1920px) {
    .hidden-lg {
        display: none !important;
    }
}

.panel {
    margin-top: 20px;
}


.menu-text {
    /*
    top: 0;
    left: 100%;
     */
    margin-left: 15px;
    text-align: left;
}
